.articlescontainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.articles__container {
  padding: 15px;
  border-right: 1px solid black;
  align-items: center;
}

.last {
  border-right: 0 !important;
}

.articles__container > p {
  font-size: 14px;
}

.articles__container > h4 {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
}

.articles__preview {
  top: 0;
  align-items: center;
}

.articles__preview > img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.articles__title {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .articles__preview > img {
    max-width: 100%;
    height: 50px;
  }
  .articles__container > p {
    font-size: 10px;
  }
  .articles__title {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 600;
  }
}
