.navigationOption {
  display: flex;
  align-items: center;
  color: gray;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  max-width: 100px;
}

.navigationOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.navigationOption > h4 {
  font-size: 12px;
  font-weight: 600;
}
.navigationOption > h4 > a {
  text-decoration: inherit; /* no underline */
}

@media screen and (max-width: 768px) {
  .navigationOption {
    padding: 5px 5px 5px 0;
  }

  .navigationOption:hover {
    border-radius: 5px;
  }

  .navigationOption > h4 {
    font-size: 8px;
    font-weight: 600;
  }
}
